<launch>

    <node name="student_code_node" pkg="csei_hysteretic_controller" type="auto_controller.py" />
    <node name="observer" pkg="csei_observer" type="looper.py" />
    <node name="simulator" pkg="simulator" type="CSEI.py" />
    <node name="tf_publisher" pkg="tf_test_pkg" type="node.py" />

    <arg name="model" default="$(find boat_model)/urdf/01-myfirst.urdf" />
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find boat_model)/rviz/urdf.rviz" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find boat_model)/rviz_config/Boat.rviz" required="true" />

</launch>